<?xml version="1.0"?>
<model>
  <name>wabble_hitl</name>
  <version>1.0</version>
  <sdf version='1.5'>wabble_hitl.sdf</sdf>

  <author>
   <name>Paolo De Petris</name>
   <email>paolo.de.petris@ntnu.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with flexing arms for use with HITL.
  </description>
</model>
